body {
background-color: transparent !important;
}

body.tv-screen-bg.web.v100 {
background-color: transparent !important;
}

body.body.tv-screen-bg.web.v100 {
background-color: transparent !important;
}
